<div class="w-full h-screen flex justify-start overflow-hidden">
  <app-side-nav></app-side-nav>

  <div class="grow">
    <app-header></app-header>

    <div class="relative">
      <app-alertbox
        [message]="message"
        [status]="status"
        *ngIf="status"
      ></app-alertbox>

      <app-mainscreen
        inputPlaceHolder="Category name"
        title="Categories"
        [dataCounts]="categoriesCount()"
        addBtnText="Add Category"
        [hasFilter]="false"
        [tableHeadNames]="tableHeadNames"
        [tableData]="categories()"
        [hasImage]="false"
        [dataItems]="dataItems"
        (inputTextValue)="getInputValue($event)"
        [isLoading]="isLoading"
        (selectedItemId)="removeCategory($event)"
        (selectedItemId)="editCategory($event)"
      ></app-mainscreen>

      <app-add-category-modal></app-add-category-modal>
    </div>
  </div>
</div>
