
    <div class="relative">

      <app-mainscreen
        inputPlaceHolder="Category name"
        title="Categories"
        [dataCounts]="categoriesCount"
        addBtnText="Add Category"
        [hasFilter]="false"
        [tableHeadNames]="tableHeadNames"
        [tableData]="categoryService.categories()"
        [hasImage]="false"
        [dataItems]="dataItems"
        (inputTextValue)="getInputValue($event)"
        [isLoading]="isLoading"
        (removedItemId)="removeCategory($event)"
        (editedItemId)="editCategory($event)"
      ></app-mainscreen>

      <app-add-category></app-add-category>
    </div>
