@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #111;
  --font-clr-white: #fff;
}

body.darkmode {
  background-color: var(--bg-dark);
  color: var(--font-clr-white);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div:where(.swal2-container) div:where(.swal2-actions) {
    gap: 1rem !important;
}
