@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-100
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.131);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



div:where(.swal2-container) div:where(.swal2-actions) {
    gap: 1rem !important;
}
