<div class="relative">
  <app-mainscreen
    inputPlaceHolder="Products name"
    title="Products"
    [dataCounts]="productsCount()"
    addBtnText="Add Product"
    [hasFilter]="true"
    filterName="Category"
    [filter]="categories"
    [tableHeadNames]="tableHeadNames"
    [tableData]="products()"
    [hasImage]="true"
    [dataItems]="dataItems"
    (inputTextValue)="getInputValue($event)"
    [isLoading]="isLoading()"
  ></app-mainscreen>

  <app-add-product-modal></app-add-product-modal>
</div>
