<style>
  .active {
    display: block;
  }
</style>


<div
  [ngClass]="{ active: activeModal }"
  class="hidden absolute top-[45%] left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-3xl w-full min-h-min bg-white rounded-xl shadow-xl z-50 border-r-8 border-b-8 border-t-2 border-l-2 border-blue-900 p-5 duration-300"
>
  <span class="absolute right-3 top-2" (click)="closeModal()">
    <fa-icon class="text-xl" [icon]="faXmark"></fa-icon>
  </span>

  <h2 class="text-2xl font-bold pb-3">Add Product</h2>

  <form
    class="flex gap-5 w-full relative"
    (ngSubmit)="submitForm($event)"
    [formGroup]="productForm"
    enctype="multipart/form-data"
  >
    <div class="grid grid-cols-1 w-full">
      <div class="py-2">
        <label class="flex flex-col text-sm text-gray-700 py-1"
          >Product name*</label
        >
        <input
          formControlName="productName"
          class="w-full border-2 border-gray-400 px-3 py-1 rounded-md focus:outline-2 focus:outline-blue-800"
          type="text"
          placeholder="Enter product name..."
          required
        />
      </div>

      <div class="py-2">
        <label class="flex flex-col text-sm text-gray-700 py-1">Price*</label>
        <input
          formControlName="productPrice"
          class="w-full border-2 border-gray-400 px-3 py-1 rounded-md focus:outline-2 focus:outline-blue-800"
          type="text"
          placeholder="Enter price..."
          required
        />
      </div>

      <div class="py-2">
        <label class="flex flex-col text-sm text-gray-700 py-1"
          >Quantity*</label
        >
        <input
          formControlName="productQuantity"
          class="w-full border-2 border-gray-400 px-3 py-1 rounded-md focus:outline-2 focus:outline-blue-800"
          type="text"
          placeholder="Enter quantity..."
          required
        />
      </div>

      <div class="py-2">
        <label class="flex flex-col text-sm text-gray-700 py-1"
          >Description*</label
        >
        <textarea
          formControlName="productDescription"
          cols="10"
          class="w-full border-2 border-gray-400 px-3 py-1 resize-none rounded-md focus:outline-2 focus:outline-blue-800"
          placeholder="Enter Description..."
          required="true"
        ></textarea>
      </div>
    </div>

    <div class="max-w-xs w-full">
      <!-- image upload -->
      <div
        class="custom-dropzone"
        ngx-dropzone
        [accept]="'image/*'"
        (change)="onFilesAdded($event)"
        [multiple]="false"
      >
        <ngx-dropzone-label> Drag & drop files here </ngx-dropzone-label>
        <ngx-dropzone-image-preview
          class="w-full"
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let f of files"
          [file]="f"
          [removable]="true"
          (removed)="onRemove(f)"
        >
        </ngx-dropzone-image-preview>
      </div>

      <div class="grid grid-cols-1 gap-3 py-5">
        <div class="relative">
          <select
            formControlName="selectedCategory"
            id="category"
            class="block w-full py-2 pl-3 pr-10 text-gray-900 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            required
          >
            <option disabled selected value="">Category</option>
            <option *ngFor="let item of categoryService.categories()" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        
        </div>

        <div class="relative">
          <select
            formControlName="selectedSupplier"
            id="category"
            class="block w-full py-2 pl-3 pr-10 text-gray-900 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            required
          >
            <option disabled selected value="">Supplier</option>
            <option *ngFor="let item of supplierService.suppliers()" [value]="item.id">
              {{ item.supplierName }}
            </option>
          </select>
        
        </div>
      </div>

      <button
        [disabled]="!files"
        type="submit"
        class="w-full px-5 py-2 rounded-md bg-blue-800 text-white"
      >
        SUBMIT
      </button>
    </div>
  </form>
</div>
