<div class="w-full h-screen flex justify-start overflow-hidden">
  <app-side-nav></app-side-nav>

  <div class="grow">
    <app-header></app-header>


<div class="relative">
  <app-mainscreen
    inputPlaceHolder="Name"
    title="Suppliers"
    [dataCounts]="suppliers.length"
    addBtnText="Add Supplier"
    [hasFilter]="false"
    [tableHeadNames]="tableHeadNames"
    [tableData]="suppliers"
    [hasImage]="false"
    [dataItems]="dataItems"
    (inputTextValue)="getInputValue($event)"
  ></app-mainscreen>
</div>

  </div>
</div>