<div class="h-full relative flex flex-col top-0 left-0 w-14 md:hover:w-56 3xl:w-56 bg-blue-900 text-white transition-all duration-300 border-none"
  >

  <div
    class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow"
  >
    <ul class="flex flex-col py-2 space-y-1">
      <li>
        <a (click)="activeNav()" class="relative flex items-center h-11 pr-6 pl-2">
          <span class="inline-flex justify-center items-center ml-4 text-xl"
            ><fa-icon [icon]="faBars"></fa-icon
          ></span>
        </a>
      </li>
      <li>
        <a
          routerLink="/dashboard"
          routerLinkActive="active"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 pr-6"
        >
          <span class="inline-flex justify-center items-center ml-4"
            ><fa-icon [icon]="faHouse"></fa-icon
          ></span>
          <span class="ml-2 text-sm tracking-wide truncate">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/products"
          routerLinkActive="active"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 pr-6"
        >
          <span class="inline-flex justify-center items-center ml-4">
            <fa-icon [icon]="faTag"></fa-icon>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Products</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/orders"
          routerLinkActive="active"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 pr-6"
        >
          <span class="inline-flex justify-center items-center ml-4">
            <fa-icon [icon]="faCartShopping"></fa-icon
          ></span>
          <span class="ml-2 text-sm tracking-wide truncate">Orders</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/customers"
          routerLinkActive="active"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 pr-6"
        >
          <span class="inline-flex justify-center items-center ml-4">
            <fa-icon [icon]="faUserGroup"></fa-icon>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Customers</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/suppliers"
          routerLinkActive="active"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 pr-6"
        >
          <span class="inline-flex justify-center items-center ml-4">
            <fa-icon [icon]="faDollyFlatbed"></fa-icon>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Suppliers</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/categories"
          routerLinkActive="active"
          class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 pr-6"
        >
          <span class="inline-flex justify-center items-center ml-4">
            <fa-icon [icon]="faTableList"></fa-icon>
          </span>
          <span class="ml-2 text-sm tracking-wide truncate">Categories</span>
        </a>
      </li>
    </ul>
  </div>
</div>
