
    <div class="relative">
      <app-mainscreen
        inputPlaceHolder="Supplier name"
        title="Suppliers"
        [dataCounts]="suppliersCount"
        addBtnText="Add Supplier"
        [hasFilter]="false"
        [tableHeadNames]="tableHeadNames"
        [tableData]="supplierService.suppliers()"
        [hasImage]="false"
        [dataItems]="dataItems"
        (removedItemId)="removeSupplier($event)"
        (editedItemId)="editSupplier($event)"
        (inputTextValue)="getInputValue($event)"
      ></app-mainscreen>

      <app-add-supplier></app-add-supplier>
    </div>
