
<div class="relative">
  <app-mainscreen
    inputPlaceHolder="Products name"
    title="Products"
    [dataCounts]="productsCount"
    addBtnText="Add Product"
    [hasFilter]="true"
    filterName="Category"
    [filter]="categoryService.categories()"
    [tableHeadNames]="tableHeadNames"
    [tableData]="productsService.products()"
    [hasImage]="true"
    [dataItems]="dataItems"
    (inputTextValue)="getInputValue($event)"
            (removedItemId)="removeProduct($event)"
            (editedItemId)="editProduct($event)"
            
    [isLoading]="isLoading"
  ></app-mainscreen>

  <app-add-product></app-add-product>
</div>
