<div class="w-full h-screen flex justify-start overflow-hidden">
  <app-side-nav></app-side-nav>

  <div class="grow">
    <app-header></app-header>


<div class="relative">
  <app-mainscreen
    inputPlaceHolder="Products name"
    title="Products"
    [dataCounts]="products.length"
    addBtnText="Add Product"
    [hasFilter]="true"
    filterName="Category"
    [filter]="categories"
    [tableHeadNames]="tableHeadNames"
    [tableData]="products"
    [hasImage]="true"
    [dataItems]="dataItems"
    (inputTextValue)="getInputValue($event)"
    [isLoading]="isLoading"
  ></app-mainscreen>

  <app-add-product-modal></app-add-product-modal>
</div>

</div>
</div>